<h1> <%= meal.name %> </h1>

<% @meal.portions.each do |portion| %>
  <% if portion.ingredient.present? %>
    <p><%= portion.ingredient.name %> | <%= portion.quantity %>g</p>
    <p><%= portion.ingredient.calories %> kcal</p>
  <% end %>
<% end %>
<%# update & delete %>
  <%# <%= link_to  do %>
    <%# <span class="visually-hidden">Edit</span>
    <i class="fas fa-edit"></i>
  <% end %>
