<h2> <%= meal.name %> </h2>

<% @meal.portions.each do |portion| %>
  <% if portion.ingredient.present? %>
    <div class="d-flex justify-content-between">
      <p><%= portion.ingredient.name %> | <%= portion.quantity %>g</p>
      <p><%= portion.ingredient.calories %> kcal</p>
      <%= portion.id %>
      <%= link_to 'Delete this ingredient?', portion_path(portion.id), class: "btn btn-lg btn-query", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
<% end %>
