<div class="container-image text-center">
    <h2 class="text-center">Calorie Breakdown</h2>
    <ul>
      <li><strong>Breakfast</strong>: <%= @breakfasts.total_calories.to_i %> kcal</li>
      <li><strong>Lunch</strong>: <%= @lunches.total_calories.to_i %> kcal</li>
      <li><strong>Dinner</strong>: <%= @dinners.total_calories.to_i %> kcal</li>
      <li><strong>Snacks</strong>: <%= @snacks.total_calories.to_i %> kcal</li>
        <%# link_to "Delete", meal_path(breakdown[:id]), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete" #%>
    </ul>

    <%#div class="nav-page d-flex justify-content-between">


  </div>%>
</div>
<div class="container-spaced-evenly">
  <div>
    <%= link_to "< Back", account_path %>
  </div>
  <% unless @date == nil %>
    <div>
      <%= link_to "< Previous day", meals_path(date: (@date - 1)) %>
    </div>

    <div class="text-info-deep-green">
      <%= @date.strftime("%A, %B %-d, %Y")  %>
    </div>

    <div>
      <% if @date < Date.today%>
        <%= link_to "Next day >", meals_path(date: (@date + 1)) %>
      <% else %>
      <p class="text-grey">
        <%= "Next day >" %>
      </p>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= link_to "Weekly >", trend_path %>
  </div>
</div>

<ul class="nav nav-pills container-centered-flex" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="home-pill-pane" aria-selected="true">Breakfast</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab" id="pills-lunch-tab" data-bs-toggle="pill" data-bs-target="#pills-lunch" type="button" role="tab" aria-controls="lunch-pill-pane" aria-selected="false">Lunch</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab" id="pills-dinner-tab" data-bs-toggle="pill" data-bs-target="#pills-dinner" type="button" role="tab" aria-controls="dinner-pill-pane" aria-selected="false">Dinner</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab" id="pills-snack-tab" data-bs-toggle="pill" data-bs-target="#pills-snack" type="button" role="tab" aria-controls="snack-pill-pane" aria-selected="false">Snack</button>
  </li>
</ul>

<div class="tab-content container-centered-flex" id="pillsTabContent">
  <div class="tab-pane fade show active card-tracker" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <% if @breakfasts.present?  %>
      <h3>Breakfast: </h3>
        <% @breakfasts.each do |breakfast| %>
          <% breakfast.portions.each do |portion| %>
            <p><%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g/ml | Calories <%= portion.ingredient.calories %> kcal per 100g/ml</p>
          <% end %>
          <hr>
          <p>
            <strong>Total for meal: <%= breakfast.total_calories.to_i %> kcal</strong>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(breakfast), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </p>
        <% end %>
        <hr>
        <strong>Total breakfast calories: <%= @breakfasts.total_calories.to_i %> kcal</strong>
    <% else %>
      <h6>No breakfast to show.</h6>
    <% end %>

  </div>
  <div class="tab-pane fade card-tracker" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab" tabindex="0">
      <% if @lunches.present?  %>
        <h3>Lunch: </h3>
        <% @lunches.each do |lunch| %>
          <% lunch.portions.each do |portion| %>
            <p><%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g/ml | calories: <%= portion.ingredient.calories %> kcal per 100g/ml</p>
          <% end %>
          <hr>
          <p>
            <strong>Total for meal: <%= lunch.total_calories.to_i %> kcal</strong>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(lunch), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </p>
        <% end %>
        <hr>
        <strong>Total lunch calories: <%= @lunches.total_calories.to_i %> kcal</strong>
      <% else %>
        <h6>No lunch to show.</h6>
      <% end %>
  </div>

  <div class="dinner-breakdown tab-pane fade card-tracker" id="pills-dinner" role="tabpanel" aria-labelledby="pills-dinner" tabindex="0">
    <% if @dinners.present? %>
      <h3>Dinner: </h3>

      <% @dinners.each do |dinner| %>
        <% dinner.portions.each do |portion| %>
          <p>
            <%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g/ml | calories: <%= portion.ingredient.calories %> kcal per 100g/ml
          </p>
        <% end %>
        <hr>
        <p>
          <strong>Total for meal: <%= dinner.total_calories.to_i %> kcal</strong>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(dinner), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </p>
      <% end %>
      <hr>
      <strong>Total dinner calories: <%= @dinners.total_calories.to_i %> kcal</strong>
    <% else %>
        <h6>No dinner to show.</h6>
    <% end %>
  </div>

  <div class="tab-pane fade card-tracker" id="pills-snack" role="tabpanel" aria-labelledby="pills-snack-tab" tabindex="0"><% if @snacks.present? %>
    <h3>Snacks: </h3>
    <% @snacks.each do |snack| %>
      <% snack.portions.each do |portion| %>
        <p>
          <%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g/ml | calories: <%= portion.ingredient.calories %> kcal per 100g/ml
        </p>
        <% end %>
        <hr>
        <p>
          <strong>Total for meal: <%= snack.total_calories.to_i %> kcal</strong>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(snack), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </p>
      <% end %>
      <hr>
      <strong>Total snacks calories: <%= @snacks.total_calories.to_i %> kcal</strong>
    <% else %>
        <h6>No snack to show.</h6>
    <% end %>

  </div>
</div>

<div class="fixed  kpi-circle"><span data-controller="counter" data-counter-end-value="<%= @meals.total_calories.to_i %>">0</span></div>
