<div class="container-image text-center">
    <h2>Total Calories <span data-controller="counter" data-counter-end-value="<%= @meals.total_calories.to_i %>">0</span> kcal</h2>
    <h2 class="text-center">Calorie Breakdown for <%= @date.strftime("%A, %B %-d, %Y") %> :</h2>
    <ul>
      <li><strong>Breakfast</strong>: <%= @breakfasts.total_calories.to_i %> kcal</li>
      <li><strong>Lunch</strong>: <%= @lunches.total_calories.to_i %> kcal</li>
      <li><strong>Dinner</strong>: <%= @dinners.total_calories.to_i %> kcal</li>
      <li><strong>Snacks</strong>: <%= @snacks.total_calories.to_i %> kcal</li>
        <%# link_to "Delete", meal_path(breakdown[:id]), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete" #%>
    </ul>

    <%#div class="nav-page d-flex justify-content-between">


  </div>%>
</div
>
<div class="container-spaced-evenly">
      <%= link_to "< Back", account_path %>
  <% unless @date == nil %>
    <%= link_to "Previous day", meals_path(date: (@date - 1)) %>
    <% if @date < Date.today%>
      <%= link_to "Next day", meals_path(date: (@date + 1)) %>
    <% end %>
  <% end %>
        <%= link_to "Weekly >", trend_path %>
</div>



<ul class="nav nav-tabs container-centered-flex" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Breakfast</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab" id="lunch-tab" data-bs-toggle="tab" data-bs-target="#lunch-tab-pane" type="button" role="tab" aria-controls="lunch-tab-pane" aria-selected="false">Lunch</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab" id="dinner-tab" data-bs-toggle="tab" data-bs-target="#dinner-tab-pane" type="button" role="tab" aria-controls="dinner-tab-pane" aria-selected="false">Dinner</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-inactive-tab" id="snack-tab" data-bs-toggle="tab" data-bs-target="#snack-tab-pane" type="button" role="tab" aria-controls="snack-tab-pane" aria-selected="false">Snack</button>
  </li>
</ul>

<div class="tab-content container-centered-flex" id="myTabContent">
  <div class="tab-pane fade show active card-tracker" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <% if @breakfasts.present?  %>
      <h3>Breakfast: </h3>
        <% @breakfasts.each do |breakfast| %>
          <% breakfast.portions.each do |portion| %>
            <p><%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g | Calories <%= portion.ingredient.calories %> kcal per 100 g</p>
          <% end %>
          <hr>
          <p>
            <strong>Total for meal: <%= breakfast.total_calories.to_i %> kcal</strong>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(breakfast), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </p>
        <% end %>
        <hr>
        <strong>Total breakfast calories: <%= @breakfasts.total_calories.to_i %> kcal</strong>
    <% else %>
      <h6>No breakfast to show.</h6>
    <% end %>

  </div>
  <div class="tab-pane fade card-tracker" id="lunch-tab-pane" role="tabpanel" aria-labelledby="lunch-tab" tabindex="0">
      <% if @lunches.present?  %>
        <h3>Lunch: </h3>
        <% @lunches.each do |lunch| %>
          <% lunch.portions.each do |portion| %>
            <p><%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g | calories: <%= portion.ingredient.calories %> kcal per 100g</p>
          <% end %>
          <hr>
          <p>
            <strong>Total for meal: <%= lunch.total_calories.to_i %> kcal</strong>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(lunch), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </p>
        <% end %>
        <hr>
        <strong>Total lunch calories: <%= @lunches.total_calories.to_i %> kcal</strong>
      <% else %>
        <h6>No lunch to show.</h6>
      <% end %>
  </div>

  <div class="dinner-breakdown tab-pane fade card-tracker" id="dinner-tab-pane" role="tabpanel" aria-labelledby="dinner-tab" tabindex="0">
    <% if @dinners.present? %>
      <h3>Dinner: </h3>

      <% @dinners.each do |dinner| %>
        <% dinner.portions.each do |portion| %>
          <p>
            <%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g | calories: <%= portion.ingredient.calories %> kcal per 100g
          </p>
        <% end %>
        <hr>
        <p>
          <strong>total for meal: <%= dinner.total_calories.to_i %> kcal</strong>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(dinner), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </p>
      <% end %>
      <hr>
      <strong>Total dinner calories: <%= @dinners.total_calories.to_i %> kcal</strong>
    <% else %>
        <h6>No dinner to show.</h6>
    <% end %>
  </div>

  <div class="tab-pane fade card-tracker" id="snack-tab-pane" role="tabpanel" aria-labelledby="snack-tab" tabindex="0"><% if @snacks.present? %>
    <h3>Snacks: </h3>
    <% @snacks.each do |snack| %>
      <% snack.portions.each do |portion| %>
        <p>
          <%= portion.ingredient.name.capitalize %> x <%= portion.quantity %>g | calories: <%= portion.ingredient.calories %> kcal per 100g
        </p>
        <% end %>
        <hr>
        <p>
          <strong>total for meal: <%= snack.total_calories.to_i %> kcal</strong>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, meal_path(snack), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </p>
      <% end %>
      <hr>
      <strong>Total snacks calories: <%= @snacks.total_calories.to_i %> kcal</strong>
    <% else %>
        <h6>No snack to show.</h6>
    <% end %>

  </div>
</div>
