<h2>Today's Calorie Breakdown</h2>

<!-- check this after merge -->

<div class="reg-container">
  <div class="card-container background-taupe">
    <div class="container" style="height:350px; width:350px;">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-row1">
                  <h2>For <%= Meal.first.name %> you ate:</h2>
                  <p>Total calories</p>

            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-row2">
              <h2>
                  For <%=Meal.last.name%> you ate:</h2>
                  <p>Total calories: </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-row3">
                  <h2>Product name</h2>
                  <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<ul>
  <% @calorie_breakdown.each do |breakdown| %>
    <li>
      <strong><%= breakdown[:meal_name] %></strong>: <%= breakdown[:calories] %> kcal
    </li>
    <!--<p> link_to "Delete", meal_path(breakdown[:id]), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete" </p>-->
  <% end %>
</ul>


  <div class="breakfast-breakdown">
    <% breakfast = current_user.meals.find_by(name: "Breakfast", date: Date.today) %>
    <%# should use date: Date.today %>

    <% if breakfast.present? %>
      <h3>Breakfast: </h3>
      <% breakfast.portions.each do |portion| %>
        <p><%= portion.ingredient.name %> | calories: <%= portion.ingredient.calories %> kcal</p>
        <%= link_to "Delete", portion_path(portion), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %>
      <p><strong>Total for breakfast:   kcal</strong></p>
        </div>
    <% end %>

</div>

  <div class="lunch-breakdown">
    <% lunch = current_user.meals.find_by(name: "Lunch", date: Date.today) %>
    <%# should use date: Date.today %>
    <% if lunch.present? %>
      <h3>Lunch: </h3>
      <% lunch.portions.each do |portion| %>
        <p><%= portion.ingredient.name %> | calories: <%= portion.ingredient.calories %> kcal</p>
        <%= link_to "Delete", portion_path(portion), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %>
      <p><strong>Total for lunch:   kcal</strong></p>
    <% end %>
  </div>


<div class="dinner-breakdown">
  <% dinner = current_user.meals.find_by(name: "Dinner", date: Date.today) %>
  <%# should use date: Date.today %>
  <% if dinner.present? %>
    <h3>Dinner: </h3>
    <% dinner.portions.each do |portion| %>
      <p><%= portion.ingredient.name %> | calories: <%= portion.ingredient.calories %> kcal</p>
      <%= link_to "Delete", portion_path(portion), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <% end %>
    <p><strong>Total for dinner:   kcal</strong></p>
  <% end %>
</div>

<div class="snack-breakdown">
  <%# !!! need to check this if the below work properly %>
  <% snacks = current_user.meals.where(name: "Snack", date: Date.today) %>
  <%# should use date: Date.today %>
  <% if snacks.present? %>
    <h3>Snack: </h3>
    <% snacks.each do |snack| %>
      <% snack.portions.each do |portion| %>
        <p><%= portion.ingredient.name %> | calories: <%= portion.ingredient.calories %> kcal</p>
        <%= link_to "Delete", portion_path(portion), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %>
    <% end %>
    <p><strong>Total for snacks:   kcal</strong></p>
  <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
