
<h2>What did you eat?</h2>
<div class="meals-grid">
  <%= simple_form_for @meal do |f| %>
    <%#= f.input :date %>
    <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker", datepicker_max_date: "today" } } %>
    <%# <i class="fa-solid fa-bread-slice fa-bounce"></i> %>
    <%# <%= f.input :name, label:"Meal", collection: ["Breakfast", "Lunch", "Dinner", "Snack"] %>
    <%= f.input :name, as: :radio_buttons, collection: [
      [raw("#{fa_icon('coffee', size: 'lg', animation: 'flip', color: " #1a654f", animation_duration: "5s")} Breakfast"), 'breakfast'],
      [raw("#{fa_icon('hamburger', size: 'lg', animation: 'flip', color: " #1a654f", animation_duration: "5s")} Lunch"), 'lunch'],
      [raw("#{fa_icon('utensils', size: 'lg', animation: 'flip', color: " #1a654f", animation_duration: "5s")} Dinner"), 'dinner'],
      [raw("#{fa_icon('cookie', size: 'lg', animation: 'flip', color: " #1a654f", animation_duration: "5s")} Snack"), 'snack']
    ], label: false %>
    <div data-controller="toggle">
      <button data-action="click->toggle#fire" class="btn btn-outline-dark-green">Track Your Meal</button>

        <div data-toggle-target="togglableElement" class="d-none">
          <%= f.simple_fields_for :portions do |portion_fields| %>
            <%= portion_fields.association :ingredient, collection: Ingredient.all, prompt: "Select ingredient" %>
            <%= portion_fields.input :quantity, label:"Weight", placeholder:"Weight in grams" %>
          <% end %>

          <%= f.submit "Add", class:"btn btn-dark-green" %>
        </div>
    </div>
  <% end %>

  <div class="text-secondary">
    <%= render "details", meal: @meal %>
  </div>
</div>

<%# search bar for next week API %>
<%# <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: ingredients_path, method: :get, class: "d-flex" do %>
      <%# <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%# <%= submit_tag "Search", name: "", class: "btn btn-dark-green" %>
    <%# <% end %>
  <%# </div>
</div> %>
