<h1> <%= @meal.name %> </h1>
<div>
  <% @meal.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %></p>
    <p><%= ingredient.calories %>kcal</p>
  <% end %>
<%# need to put portion as well %>
  <%# <%= link_to  do %>
    <%# <span class="visually-hidden">Edit</span>
    <i class="fas fa-edit"></i>
  <% end %>
</div>
<div class="text-olive">
  <%= link_to "Back", root_path %>
</div>
