<%= simple_form_for [@meal, @portion] do |portion_fields| %>
  <div data-ingredients-target="ingredients" class="weight-space">
    <%= portion_fields.association :ingredient, collection: Ingredient.all.order(:name), prompt: "Select ingredient", label:false %>
  </div>
  <button type="button" class="btn btn-outline-dark-green" style="width: 180px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Find new ingredients
  </button>
  <div class="weight-space">
    <%= portion_fields.input :quantity, label:"Weight", placeholder:"Weight in g/mL" %>
  </div>
  <%= portion_fields.submit "Add", class:"btn btn-lg meals-button"%>
<% end %>

<%= render 'ingredients/modal' %>
