<h2>What did you eat?</h2>
<div class="meals-grid">
  <div>
  <%= simple_form_for @meal do |f| %>
    <%= f.input :date %>
    <%= f.input :name, label:"Meal", collection: ["Breakfast", "Lunch", "Dinner", "Snack"] %>
  <% end %>

      <button data-action="click->toggle#fire" class="btn btn-outline-dark-green">Track Your Meal</button>

        <div data-toggle-target="togglableElement">
          <%= simple_form_for [@meal, @portion] do |portion_fields| %>
            <%= portion_fields.association :ingredient, collection: Ingredient.all, prompt: "Select ingredient" %>
            <%= portion_fields.input :quantity, label:"Weight", placeholder:"Weight in grams" %>
            <%= portion_fields.submit "Add", class:"btn btn-dark-green"%>

          <% end %>
        </div>
    </div>


  <div class="text-secondary">
    <%= render "meals/details", meal: @meal %>
    <% if @meal.portions.empty? %>
      <%= link_to "Quit?", meal_path(@meal), class:"float-end btn-lg btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% else%>
      <%= link_to "Confirm", meals_path, class:"float-end btn-lg btn-outline-dark-green" %>
    <% end %>
  </div>
</div>
