<div class="container-full" data-controller="ingredients" data-ingredients-url-value="<%= ingredients_url %>">
  <div class="form-wide">
    <div class="meals-grid">
      <div>
        <%= simple_form_for @meal do |f| %>
          <%= render 'meals/meal_fields', f: f %>
        <% end %>

        <button data-action="click->toggle#fire" class="btn btn-outline-dark-green" style="width: 180px;">Choose ingredients</button>
        <div data-toggle-target="togglableElement">
          <%= render 'portions/form' %>
        </div>
      </div>
      <div class="text-secondary">
        <h2>Your Selected Foods</h2>
        <p>Please review the food items and quantities you've added before submitting this meal.</p>

        <%= render "meals/details", meal: @meal %>
        <% if @meal.portions.persisted.empty? %>
          <%= link_to "Quit?", meal_path(@meal), class:"float-end btn btn-lg btn-query", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% else%>
          <div class="d-flex justify-content-center med-button">
            <%= link_to "Confirm", meals_path, class:"btn btn-lg btn-tracker w-25" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
